h1{
	/*text-align: center;*/
	color: blue;
}

h3{
	color:rgba(20, 200, 20, .8);
}

/*body{
	margin: auto;
    width: 50%;
    padding: 10px;
}*/

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

li {
	float:left;
}

a  {
	display:inline;
}

.navbar {
    list-style: none;
    margin: 0 auto;
    padding: 5px;
    display:block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}

li a {
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	background: lightblue;
    border: 2px black solid;
    box-shadow: #779494 5px 0px 10px;
}

.projects {
	display: block;
}


a:hover {
	color: rgb(77, 180, 199);
   box-shadow: inset 0 0 1em beige;
  transition: all .4s;
  background-color: transparent;;
}